*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}

.landingpageH3{
    color: #EAF2EF;
    font-size: 4em;
}

.landingpageContent{
    text-align: center;
    color: #EAF2EF;
    font-size: 2em;
    padding-bottom: 30%;
}

.landingpageP{
    padding-bottom: 35px;
}

.landingpageBody{
    background-image: url("bakgrundsbild.png");
    background-repeat: no-repeat;
    background-color: green;
}

footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0px;
    box-sizing: border-box;
    background-color: #0D090A;
}

.innerfooter{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100px;
}

.innerfooter .logocontainer{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.innerfooter .logocontainer img{
    width: 60px;
    height: auto;
}

.innerfooter .footerthird{
    width: calc(21.6666667 - 20px);
    margin-right: 15px;
    float: left;
    height: 100%;
}

.innerfooter .footerthird:last-child{
    margin-right: 0;
}

.innerfooter .footerthird h1{
    font-size: 22px;
    color: #EAF2EF;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.innerfooter .footerthird a{
    font-size: 18px;
    font-weight: 200;
    color: #EAF2EF;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.innerfooter .footerthird li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.innerfooter .footerthird span{
    font-size: 16px;
    font-weight: 200;
    color: #EAF2EF;
    display: block;
    width: 100%;
    padding-top: 20px;
}

.footerthird{
    color: #EAF2EF;
}

.homeH3{
    font-size: 4em;
    color: #EAF2EF;
}

.homeBody{
    background: rgb(145,47,86);
    background: linear-gradient(42deg, rgba(145,47,86,1) 13%, rgba(82,25,69,1) 58%, rgba(54,31,39,1) 100%);
    padding-bottom: 30%;
}

.homeP{
    text-align: center;
    color: #EAF2EF;
    font-size: 2em;
}

.homeDiv{
    background-color: #EAF2EF;
    text-align: center;
    margin: 15px auto;
    width: 300px;
    font-size: 2em;
    border: 5px solid #0D090A;
}

table{
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table{
    padding: 50px 0px 300px 0px;
    background: rgb(145,47,86);
    background: linear-gradient(42deg, rgba(145,47,86,1) 13%, rgba(82,25,69,1) 58%, rgba(54,31,39,1) 100%);
}

table thead tr{
    background-color: #009879;
    color: #EAF2EF;
    text-align: left;
    font-weight: bold;
}

table th,
table td{
    padding: 12px 15px;
}

table tbody tr{
    border-bottom: 1px solid #EAF2EF;
}

table tbody tr:nth-of-type(even){
    background-color: #EAF2EF;
}

table tbody tr:nth-of-type(odd){
    background-color: #0D090A;
    color: #EAF2EF;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.visionH3, .openH3, .bookingH3{
    text-align: center;
    font-size: 5em;
    color: #EAF2EF;
}
.visionP{
    text-align: center;
    color: #EAF2EF;
    padding-bottom: 15px;
}

.visionH3{
    padding-bottom: 5px;
}

.visionBody{
    background: rgb(145,47,86);
    background: linear-gradient(42deg, rgba(145,47,86,1) 13%, rgba(82,25,69,1) 58%, rgba(54,31,39,1) 100%);
}

.thirdopen{
    text-align: center;
    width: 33%;
    display: inline-block;
}

.weekend{
    color: darkred;
}

.loginForm {
    padding: 50px 0px 300px 0px;
    text-align: center;
    min-height:100px;
    color: #EAF2EF;
}

.loginBody, .bookingBody{
    background: rgb(145,47,86);
    background: linear-gradient(42deg, rgba(145,47,86,1) 13%, rgba(82,25,69,1) 58%, rgba(54,31,39,1) 100%);
}

.bookingBody{
    text-align: center;
    padding-bottom: 5px;
}

.bookingDropdown{
    margin: 10px;
}

.openContent{
    text-align: center;
}

.openContent a{
    color: #EAF2EF;
}

.openBody{
    background: rgb(145,47,86);
    background: linear-gradient(42deg, rgba(145,47,86,1) 13%, rgba(82,25,69,1) 58%, rgba(54,31,39,1) 100%);
    color: #EAF2EF;
}

div.p-menubar.p-component{
    background-color: #0D090A;
    border-color: #0D090A;
    outline-color: #0D090A;
}

span.p-menuitem-text{
    color: red;
}



@media(max-width: 600px)  {
    footer .innerfooter{
        width: 90%;
    }
    .innerfooter .logocontainer,
    .innerfooter .footerthird{
        width: 100%;
        margin-bottom: 30px;
    }

}







